<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.0.0
    </div>
    <strong>Copyright &copy; 2018-@DateTime.Now.Year <a href="https://kopsoft.cn/">@ViewBag.company</a>.</strong> 技术支持 QQ:248776 电话:13921987606
</footer>