
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.4.13
    </div>
    <strong>&copy;2020<a href="http://www.kopsoft.cn/" target="_blank"> @ViewBag.company</a></strong> 技术支持:15262337653
</footer>