<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.4.13
    </div>
    <strong>&copy;@DateTime.Now.Year <a href="http://tuoshui.net.cn/" target="_blank">@ViewBag.company</a></strong>
    <i class="fa fa-phone"></i>13921987606 <a href="http://www.beian.miit.gov.cn/" target="_blank">苏ICP备14058639号</a>
</footer>