
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.4.13
    </div>
    <strong>&copy;@DateTime.Now.Year <a href="http://kopsoft.cn/" target="_blank">@ViewBag.company</a></strong>
    <i class="fa fa-phone"></i>13921987606 <a href="http://www.beian.miit.gov.cn/" target="_blank">苏ICP备14058639号</a>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d0af754958bdae003f041a294eece270";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</footer>