
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.4.13
    </div>
    <strong>开源不易 更多商业产品（ERP企业资源计划,WMS仓库管理系统,MES制造执行系统,EMS设备管理系统,QMS质量管理系统）请移步 <a href="http://mom.kopsoft.cn/" target="_blank"> mom.kopsoft.cn</a></strong>
</footer>