@model List<YL.Core.Entity.Wms_warehouse>
<div class="form-group">
    <label class="form-label col-sm-2">所属仓库</label>
    <div class="col-sm-10">
        <select class="form-control" v-model="WarehouseId" size="1">
            <option value="">请选择</option>
            @{
                if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <option value="@item.WarehouseId">@item.WarehouseName</option>
                    }
                }
            }
        </select>
    </div>
</div>