@{
    Layout = "_LayoutH";
    @model Sys_user
}
<div id="app" v-cloak>
    <form class="form-horizontal" onsubmit="return false">
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="c-red">*</span>用户名：</label>
                            <div class="col-sm-10">
                                <input v-model="UserName" readonly type="text" class="form-control">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-sm-2"><span class="c-red">*</span>昵称：</label>
                            <div class="col-sm-10">
                                <input type="text" readonly v-model="UserNickname" class="form-control">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="c-red">*</span>电话：</label>
                            <div class="col-sm-10">
                                <input v-model="Tel" readonly type="text" class="form-control">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-sm-2"><span class="c-red">*</span>邮箱：</label>
                            <div class="col-sm-10">
                                <input type="text" readonly v-model="Email" class="form-control">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="input-group">
                            <input class="form-control" placeholder="请选择图像" v-model="fileName" v-focus type="text">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" v-on:click="fileL">选择图像</button>
                            </span>
                        </div>
                        <input class="file" style="display:none" ref="fileClick" v-on:change="changeL($event)" accept="image/*" name="file" v-focus type="file">
                    </td>
                </tr>
            </table>
            <div class="box-footer">
                <div class="pull-right box-tools">
                    <input v-on:click="uploadHeadImg" class="btn btn-primary radius" type="submit" v-model="submit">
                </div>
            </div>
        </div>
    </form>
</div>
@section scripts{
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                submit: "修改图像",
                UserName: "@Model.UserName",
                UserNickname: "@Model.UserNickname",
                Tel:"@Model.Tel",
                Email: "@Model.Email",
                param: [],
                acceptFile: [".png", ".jpg",".jpeg",".gif"],
                fileName: '',
            },
            methods: {
                fileL: function () {
                    this.$refs.fileClick.click();
                },
                uploadHeadImg: function () {
                    var _self = this;
                    if (_self.param.length <= 0) {
                        layer.msg("请选择图像", { icon: 2 });
                        return false;
                    }
                    var index = layer.load(1, {
                        shade: [0.1, '#fff'] //0.1透明度的白色背景
                    });
                    axios.post('/User/UploadHeadImg', _self.param, {
                        headers: {
                            'Content-Type': 'multipart/form-data',
                            'fileExcel': 'fileExcel'
                        }
                    }).then(function (response) {
                        if (response.data.Item1 === 101) {
                            layer.tips(response.data.Item2, '.layui-layer-setwin', {
                                tips: [1, '#3595CC'],
                                time: 3000
                            });
                            layer.close(index);
                            return false;
                        }
                        if (response.data.Item1) {
                            layer.msg(response.data.Item2, { icon: 1, time: 1000 });
                            setTimeout(function () {
                                yui.layer_close3();
                            }, 500);
                        } else {
                            layer.msg(response.data.Item2 || errorMsg, { icon: 5 });
                        }
                        layer.close(index);
                    }).catch(function (error) {
                        layer.close(index);
                    });
                },
                changeL: function (e) {
                    var file = e.target.files[0];
                    var _self = this;
                    if (file.size > 0) {
                        _self.param = new FormData();
                        _self.param.append('file', file);
                        _self.fileName = file.name;
                    }
                }
            }
        });
    </script>
}